---
layout: default
hasSidebar: true
showNavigation: false
---
<div class="home page">
    <div class="home_sidebar">
        <div class="home_sidebarIntro">
            <span class="avatar home_avatar">
                <span class="avatar_badge">
                    {% include svg/logo.svg %}
                </span>
                <img src="{{ site.baseurl }}/assets/images/avatar.png" />
            </span>
            <p class="page_description">Hi, I'm Pete Lada. I'm a design generalist.</p>
        </div>
        <hr class="home_sidebarDivider" />
        <p class="font-small">I co-founded and currently lead product design at <a href="https://guidebook.com">Guidebook</a>, a mobile event guide platform.</p>
        <p class="font-small">While I'm not currently looking for new opportunities, you can <a href="{{ site.baseurl }}/pete-lada-resume-2020.pdf">view my resume</a> if interested.</p >
    
        {% include footer.html class="footer-in-sidebar" %}
    </div>
    <div class="home_content">
        <div class="home_contentWrapper">
            <div class="home_contentIntro">
                <h3>Selected Work</h3>
                <p>Projects which highlight some of the more interesting recent challenges I've worked on.</p>
            </div>
            <div class="figureGrid">
                <div class="figureGrid_item">
                <div class="image is-clickable projectCard">
                    <a class="image_frame projectCard_image" href="{{ site.baseurl }}/work/guidebook-schedule-redesign.html">
                    <div class="projectCard_info">
                        <div class="projectCard_overview">
                        <p class="projectCard_title">Guidebook Schedule Redesign</p>
                        <p class="projectCard_subtitle">Improving a feature used by millions</p>
                        </div>
                        <div class="projectCard_pills">
                        <span class="projectCard_pill">Guidebook</span>
                        <span class="projectCard_pill">2019</span>
                        </div>
                    </div>
                    <img src="{{ site.baseurl }}/assets/images/project-cover-schedule-redesign.png" srcset="{{ site.baseurl }}/assets/images/project-cover-schedule-redesign.png, {{ site.baseurl }}/assets/images/project-cover-schedule-redesign@2x.png 2x"/>
                    </a>
                </div>
                </div>
                <div class="figureGrid_item">
                <div class="image is-clickable projectCard">
                    <a class="image_frame projectCard_image" href="{{ site.baseurl }}/work/guidebook-spaces.html">
                    <div class="projectCard_info">
                        <div class="projectCard_overview">
                        <p class="projectCard_title">Guidebook Spaces</p>
                        <p class="projectCard_subtitle">Adding a new layer to the Guidebook platform</p>
                        </div>
                        <div class="projectCard_pills">
                        <span class="projectCard_pill">Guidebook</span>
                        <span class="projectCard_pill">2018</span>
                        </div>
                    </div>
                    <img src="{{ site.baseurl }}/assets/images/project-cover-spaces.png"
                        srcset="{{ site.baseurl }}/assets/images/project-cover-spaces.png, {{ site.baseurl }}/assets/images/project-cover-spaces@2x.png 2x" />
                    </a>
                </div>
                </div>
                <div class="figureGrid_item">
                <div class="image is-clickable projectCard">
                    <a class="image_frame projectCard_image" href="{{ site.baseurl }}/work/guidebook-homepage.html">
                    <div class="projectCard_info">
                        <div class="projectCard_overview">
                        <p class="projectCard_title">Guidebook Homepage Redesign</p>
                        <p class="projectCard_subtitle">Rethinking Guidebook's home on the web</p>
                        </div>
                        <div class="projectCard_pills">
                        <span class="projectCard_pill">Guidebook</span>
                        <span class="projectCard_pill">2019</span>
                        </div>
                    </div>
                    <img src="{{ site.baseurl }}/assets/images/project-cover-homepage-redesign.png"
                        srcset="{{ site.baseurl }}/assets/images/project-cover-homepage-redesign.png, {{ site.baseurl }}/assets/images/project-cover-homepage-redesign@2x.png 2x" />

                    </a>
                </div>
                </div>
                <div class="figureGrid_item">
                <div class="image is-clickable projectCard">
                    <a class="image_frame projectCard_image" href="{{ site.baseurl }}/work/guidebook-icons.html">
                    <div class="projectCard_info">
                        <div class="projectCard_overview">
                        <p class="projectCard_title">Guidebook UI Icon Set</p>
                        <p class="projectCard_subtitle">Standardizing Guidebook's iconography</p>
                        </div>
                        <div class="projectCard_pills">
                        <span class="projectCard_pill">Guidebook</span>
                        <span class="projectCard_pill">2017-2020</span>
                        </div>
                    </div>
                    <img src="{{ site.baseurl }}/assets/images/project-cover-icons.png"
                        srcset="{{ site.baseurl }}/assets/images/project-cover-icons.png, {{ site.baseurl }}/assets/images/project-cover-icons@2x.png 2x" />
                    </a>
                </div>
                </div>
                <div class="figureGrid_item">
                <div class="image is-clickable projectCard">
                    <a class="image_frame projectCard_image" href="{{ site.baseurl }}/work/guidebook-beacon.html">
                    <div class="projectCard_info">
                        <div class="projectCard_overview">
                        <p class="projectCard_title">Guidebook Beacon UI Kit</p>
                        <p class="projectCard_subtitle">Formalizing Guidebook's app UI</p>
                        </div>
                        <div class="projectCard_pills">
                        <span class="projectCard_pill">Guidebook</span>
                        <span class="projectCard_pill">2017-2020</span>
                        </div>
                    </div>
                    <img src="{{ site.baseurl }}/assets/images/project-cover-beacon.png"
                        srcset="{{ site.baseurl }}/assets/images/project-cover-beacon.png, {{ site.baseurl }}/assets/images/project-cover-beacon@2x.png 2x" />
                    </a>
                </div>
                </div>
                <div class="figureGrid_item">
                <div class="image is-clickable projectCard">
                    <a class="image_frame projectCard_image" href="https://dribbble.com/plada">
                    <div class="projectCard_info">
                        <div class="projectCard_overview">
                        <p class="projectCard_title">More on Dribbble</p>
                        </div>
                        <div class="projectCard_pills">
                        <span class="projectCard_pill">2012-2020</span>
                        </div>
                    </div>
                    <img src="{{ site.baseurl }}/assets/images/project-cover-dribbble.png"
                        srcset="{{ site.baseurl }}/assets/images/project-cover-dribbble.png, {{ site.baseurl }}/assets/images/project-cover-dribbble@2x.png 2x" />
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
