<footer class="footer {{ include.class }}">
  <div class="footer_container">
    <div class="footer_copy">&copy; 2020 Pete Lada</div>
    <ul class="footer_links">
      <li><a href="https://twitter.com/pklada">@pklada</a></li>
      <li><a href="https://dribbble.com/plada">Dribbble</a></li>
      <li><a href="https://github.com/pklada">GitHub</a></li>
      <li><a href="{{ site.baseurl }}/pete-lada-resume-2020.pdf">Resume</a></li>
      <li><a href="mailto:pklada@gmail.com">Contact</a></li>
    </ul>
  </div>
</footer>
