
.avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;

    &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
        content: "";
        z-index: 1;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    &.avatar-small {
        width: 24px;
        height: 24px;
    }

    .avatar_badge {
        position: absolute;
        right: -6px;
        bottom: -6px;
        width: 24px;
        height: 24px;
        z-index: 2;
        background: var(--color-text);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 3px var(--color-bgd-adjusted-sm);
        
        > svg {
            width: 12px;
            height: auto;
            vertical-align: middle;

            path {
                fill: var(--color-bgd);
            }
        }
    }
}