// Variables

$container-width: 1100px;
$container-width-narrow: 800px;
$readable-max-width: 600px;
$container-padding: 32px;

$top-line-height: 3px;

$size-xs: 4px;
$size-sm: 8px;
$size-md: 16px;
$size-lg: 32px;
$size-xl: 64px;


$font-xl: 48px;
$font-lg: 36px;
$font-md: 24px;
$font-sm: 18px;
$font-xs: 14px;
$font-xxs: 11px;

$font-post-body: $font-sm;
$font-post-subtitle: $font-md;

$system-font-family: "Work Sans", "Avenir", sans-serif;
$primary-font-family: $system-font-family;

$border-radius: 6px;

$min-tap-size: 42px;



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

// Global
html {
  overflow-x: hidden;
  

  &.has-open-overlay {
    overflow: hidden;
  }
}

body {
  font-family: $primary-font-family;
  color: var(--color-text);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--color-bgd);

  @include prefers-dark {
    color: $color-dark-text;
    background-color: $color-dark-bgd;
  }
}

main {
  flex: 1;
  width: 100%;
  overflow: hidden;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    height: $top-line-height;
    background: $primary-color;
    content: "";
    z-index: 5;
  }
}

a {
  color: $link-color;
  text-decoration: underline;
  text-decoration-color: transparentize($color: $link-color, $amount: .8);
  transition: all ease 150ms;

  &:hover {
    color: $primary-color;
    opacity: .6;
  }
}


.accent {
  color: black;
}


// Components & pages


.page {
  @include container();
  margin-top: 60px;
}

.blog {
  @include container();
  margin-top: 60px;


  &__post {

    padding: 0 $container-padding;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid lighten($link-color, 40%);

    @media (max-width: 900px) {
      flex-direction: column;
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__date {
    padding-top: 15px;
    width: 30%;
    color: $link-color;
  }

  &__content {
    width: 100%;
  }


  &__link {
    &:hover {
      color: $link-color;
    }
  }

  &__title {
    color: var(--color-text);
    font-size: $font-md;
    padding-top: 0;
  }

  &__excerpt {
    color: $link-color;
  }
}
