

$figureGridGutter: $size-lg;

.figureGrid {
    display: flex;
    margin-right: -1 * $figureGridGutter;
    margin-bottom: -1 * $figureGridGutter;
    flex-wrap: wrap;
    flex-direction: row;

    .figureGrid_item {
        width: calc(50% - #{$figureGridGutter});
        margin-right: $figureGridGutter;
        margin-bottom: $figureGridGutter;
    }

    &.figureGrid-threeup {
        .figureGrid_item {
            width: calc(33% - #{$figureGridGutter});
        }
    }

    @include mobile {
        margin-right: auto;

        .figureGrid_item {
            width: 100%;
            margin-right: 0;
        }
    }
}