.footer {
  background-color: var(--color-bgd-adjusted);
  padding: $size-md 0;
  margin-top: $size-xl;
  font-size: $font-xs;

  &_container {
    @include container();
    color: $link-color;
    display: flex;
  }

  .has-sidebar & {
    display: none;

    @include mobile {
      display: block;
    }
  }

  .footer_copy {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      flex-grow: 1;
    }
  }

  .footer_links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 50%;
    justify-content: flex-end;

    li {
      padding: 0;

      &:after {
        content: '•';
        margin: 0 $size-xs;
        display: inline-block;
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }

    a {
      font-size: $font-xs;
      text-decoration: none;
    }

    @include mobile {
      flex-wrap: wrap;
      margin-bottom: -1 * $size-md;

      li {
        width: 50%;
        display: block;
        margin-bottom: $size-md;
      }

      li:after {
        display: none;
      }
    }
  }

  &.footer-in-sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    flex-wrap: wrap;
    margin-bottom: -1 * $size-md;
    display: flex;

    .footer_container {
      flex-wrap: wrap;
    }

    .footer_links {
      width: 100%;
      margin-top: $size-md;
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }

    li {
      width: 80px;
      display: block;
      margin-bottom: $size-md;
    }

    li:after {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  .footer_bulb {
    position: relative;
    top: auto;
    right: auto;
    left: -1 * $size-sm;
    bottom: -1 * $size-sm;
    display: none;
  }

  @include mobile {
    padding-bottom: calc(env(safe-area-inset-bottom) + #{$size-md});
    margin-top: $size-lg;

    .footer_bulb {
      display: block;
    }
  }
}
