.imageFocus {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.9);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    &.is-open {
        opacity: 1;
        visibility: visible;
    }

    .imageFocus_imageContainer {
        padding: $size-xl;
        margin: auto;
        max-height: 100%;

        img, video {
            max-width: 100%;
            width: 100%;
        }
    }

    &[data-zoom-mode="fit"] {
        .imageFocus_imageContainer {
            img, video {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    &[data-zoom-mode="zoom"] {
        .imageFocus_imageContainer {
            img, video {
                max-width: none;
                width: 200%;
            }
        }
    }

    &[data-zoom-mode="full"] {
        .imageFocus_imageContainer {
            img, video {
                max-width: none;
                width: auto;
            }
        }
    }

    .imageFocus_close {
        position: fixed;
        right: $size-md;
        top: $size-md;
        width: $min-tap-size;
        height: $min-tap-size;
        background: transparent;
        border: none;
        color: white;
        background-image: url('/assets/images/close.svg');
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        border-radius: 50%;
        z-index: 2;

        &:hover {
            background-color: rgba(0,0,0,.5);
        }
    }

    .imageFocus_controls {
        position: fixed;
        top: 0;
        right: 0;
        top: $size-md;
        left: $size-md;
        z-index: 1;

        .imageFocus_controlButton {
            min-width: $min-tap-size * 2;
            height: $min-tap-size;
            color: white;
            background: rgba(0, 0, 0, .5);
            background-image: none;
            border: none;
            padding: 0 $size-md;
            border-radius: 5000px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: $size-md;
            cursor: pointer;
            font-size: $font-xs;
            text-transform: uppercase;
            font-family: $primary-font-family;

            &:hover {
                opacity: 1;
                background-color: rgba(0, 0, 0, .8);
            }

            &.is-selected {
                background: rgba(255, 255, 255, .7);
                color: black;
            }
        }
    }

    .imageFocus_caption {
        position: fixed;
        bottom: $size-md;
        color: white;
        font-size: $font-sm;
        background: rgba(0,0,0,.5);
        padding: $size-sm;
        border-radius: $border-radius;
        text-align: center;
        max-width: 600px;
    }

    @include mobile {
        .imageFocus_imageContainer {
            padding: $size-md;

            img, video {
                max-width: none;
                min-width: 100%;
                width: auto;
            }
        }

        .imageFocus_caption {
            left: 0;
            right: 0;
            max-width: none;
            bottom: 0;
            margin: 0;
            border-radius: 0;
            padding-bottom: calc(env(safe-area-inset-bottom) + #{$size-sm});
        }
    }
}