@mixin container($narrow: false) {
  @if $narrow {
    max-width: $container-width-narrow;
  } @else {
    max-width: $container-width;
  }
  padding: 0 $size-md;
  margin: auto;
}

@mixin prefers-dark {
  .prefers-dark,
  .prefers-dark & {
    @content;
  }
}