$nav-logo-size: 100px;
$nav-height: 130px;

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $size-md $size-lg;

  height: 130px;

  z-index: 1;

  &_branding {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: $nav-logo-size;
    width: $nav-logo-size;
    text-decoration: none;
    top: $size-md;

    &:before {
      position: absolute;
      background: var(--color-bgd-adjusted);
      content: "";
      width: 120%;
      height: 120%;
      display: block;
      z-index: -1;
      top: -10%;
      left: -10%;
      border-radius: 50%;
      opacity: 0;
      transform: scale(.5);
      transition: all ease 150ms;
    }

    &:hover {
      &:before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &_title {
    color: $primary-color;
    font-size: $font-xs;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .6px;
    transform-origin: center top;
    transform: scale(.9);
    opacity: .7;
  }

  &_logo {
    margin-bottom: $size-md;
    width: 48px;
    height: 48px;
  }

  &_logo svg {
    width: 100%;
    height: auto;

    path {
      fill: $primary-color;
    }
  }

  &_links {
    display: flex;
    flex-direction: row;
  }

  &_link {
    margin-left: 30px;
    font-size: $font-xs;

    &--active {
      color: $primary-color;
    }
  }

  &.navigation-dark {
    .navigation_branding {
      &:before {
        background: transparentize($color-dark-bgd, .8);
      }
    }
  }

  @include mobile {
    align-items: flex-end;
    justify-content: center;
    padding-top: 0;

    .navigation_branding {
      position: relative;
      transform: scale(.9);
    }
  }
}
