
.page {
    margin-top: $nav-height;

    .page_intro {
        margin-bottom: $size-xl;
    }
    
    .page_title {
        font-size: $font-xl;
        color: $primary-color;
        font-weight: normal;
    }

    .page_description {
        font-size: $font-md;
        color: var(--color-text);
    }

    .page_introDivider {
        height: 2px;
        background: var(--color-bgd-adjusted);
        border: none;
        width: 120px;
        margin: $size-lg auto;
    }

    @include mobile {
        .page_title {
            font-size: $font-lg;
        }

        .page_description {
            font-size: $font-sm;
        }
    }
}