$post-container-width: $readable-max-width;
$post-container-popped-width: $readable-max-width * 1.5;
$post-section-margin: $size-xl;
$post-subtitle-list-counter-size: 24px;

.post {
    @include container();

    .post_title h2{
        font-size: $font-xl;
        font-weight: normal;
        text-align: center;
        color: $primary-color;
        margin-bottom: 0;
    }

    .post_introQuote {
        text-align: center;
        margin-top: $size-lg;

        p {
            font-style: italic;
            font-size: $font-md;
            font-weight: normal;
            color: $text-light-color;
            margin: 0;
        }
    }

    .post_intro {
        padding: $size-xl 0;
        border-bottom: 3px solid darken($bgd-color, 5%);
        max-width: $post-container-width;
        margin-left: auto;
        margin-right: auto;

        &.inverted {
            position: relative;
            
            &:before {
                position: absolute;
                top: 0;
                left: calc((100vw - #{$post-container-width}) / 2 * -1);
                bottom: 0;
                width: 100vw;
                content: "";
                background-color: $text-color;
                z-index: 0;
            }

            .post_title,
            .post_introQuote {
                z-index: 1;
                position: relative;
            }

            .post_title h2 {
                color: $bgd-color;
            }

            .post_introQuote p {
                color: transparentize($color: $bgd-color, $amount: .5);
            }
        }
    }

    .post_details {
        $post-details-width: 260px;
        float: right;
        margin: ($font-post-subtitle + $size-md) 0 $size-lg $size-lg;
        width: $post-details-width;

        table {
            width: 100%;
            color: $text-light-color;
            font-size: $font-xs;
            background: darken($bgd-color, 2%);
            border-radius: $border-radius;
            overflow: hidden;

            td {
                padding: $size-sm;
                position: relative;
            }

            td:first-child {
                font-weight: bold;
                overflow: hidden;

                &:after {
                    content: "";
                    width: 200px;
                    height: 0;
                    border-top: 1px dashed $text-light-color;
                    position: absolute;
                    bottom: $size-sm + 4px;
                    transform: translateX(3px);
                    opacity: .3;
                }
            }
        }
    }

    .post_body {
        max-width: $post-container-width;
        margin: $size-xl auto;
        position: relative;

        h3 {
            font-size: $font-post-subtitle;
            color: $primary-color;
            line-height: 1.3;
            margin-bottom: $size-md;
            margin-top: 0;
        }

        h4 {
            font-size: $font-post-body;
            color: $text-color;
            line-height: 1.3;
            margin-bottom: $size-md;
            margin-top: 0;
            font-weight: bold;
        }

        p, 
        li {
            font-size: $font-post-body;
            line-height: 1.3;
            margin-bottom: $size-md;
            margin-top: 0;

            ~ h3 {
                margin-top: $size-lg;
            }
        }
    }

    .post_section {
        margin-top: $size-xl;
        margin-bottom: $size-xl;

        &.popped {
            width: $post-container-popped-width;
            margin-left: ($post-container-popped-width - $post-container-width) / 2 * -1;
        }

        &.popped-full {
            width: calc(100vw - #{$size-xl * 2});
            margin-left: calc((100vw - #{$size-xl * 2} - #{$post-container-width}) / 2 * -1);
        }

        &.focused {
            position: relative;
            padding-top: $size-xl;
            padding-bottom: $size-xl;

            &:before {
                content: "";
                position: absolute;
                left: calc((100vw - #{$post-container-width}) / 2 * -1);
                top: 0;
                bottom: 0;
                width: 100vw;
                background-color: darken($bgd-color, 3%);
                z-index: -1;
            }
        }

        &.focused.inverted {
            color: $bgd-color;

            &:before {
                background-color: $text-color;
            }
        }

        &.focused.popped {
            &:before {
                left: calc((100vw - #{$post-container-popped-width}) / 2 * -1);
            }
        }

        &.pull-left {
            margin-left: -15%;
        }

        &.pull-right {
            margin-right: -15%;
        }
    }

    .post_divider {
        height: 3px;
        margin-top: $post-section-margin;
        margin-bottom: $post-section-margin;
        border: none;
        background: darken($bgd-color, 5%);
    }

    .post_subtitleList {
        counter-reset: listCounter;
        padding-left: 0;
        
        > li {
            counter-increment: listCounter;
            list-style-type: none;
            display: block;
            position: relative;

            &:before {
                position: absolute;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: $post-subtitle-list-counter-size;
                height: $post-subtitle-list-counter-size;
                background: darken($bgd-color, 3%);
                color: transparentize($primary-color, .2);
                content: counter(listCounter);
                flex-shrink: 0;
                font-size: $font-xs;
                border-radius: 50%;
                margin-right: $size-sm;
                margin-top: 4px;
                left: ($post-subtitle-list-counter-size + $size-sm) * -1;
                top: -4px;
                line-height: 1;
            }

            ul {
                list-style-image: url(/assets/images/arrow-bullet.svg);
            }

            ol {
                list-style-type: decimal;
            }
        }
    }

    .post_quote {
        border-left: 2px solid darken($bgd-color, 5%);
        padding: $size-md 0; 
        margin: $size-lg;

        .post_quoteAuthor {
            font-size: $font-xs;
            text-transform: uppercase;
            margin-bottom: $size-sm;
            color: $text-light-color;
        }

        p {
            font-size: $font-md;
            margin-bottom: 0;
            margin-left: $size-lg;
        }
    }

    @include mobile {
        .post_title h2 {
            font-size: $font-lg;
        }

        .post_intro {
            padding-top: $nav-height;
            padding-bottom: $size-lg;
            
            h2 {
                margin-top: $size-md;
            }

            &.inverted {
                &:before {
                    left: $size-md * -1;
                }
            }
        }

        .post_details {
            float: none;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }

        .post_body {
            margin: $size-lg auto;
        }

        .post_section {
            margin-top: $size-lg;
            margin-bottom: $size-lg;

            &.popped {
                width: 100%;
                margin-left: auto;
            }

            &.focused {
                padding-top: $size-lg;
                padding-bottom: $size-lg;
            }

            &.focused.popped {
                &:before {
                    left: $size-md * -1;
                }
            }

            &.popped-full {
                width: 100%;
                margin-left: auto;
            }

            &.pull-left {
                margin-left: 0;
            }

            &.pull-right {
                margin-right: 0;
            }
        }

        .post_subtitleList {
            > li {
                &:before {
                    position: relative;
                    float: left;
                    left: auto;
                }
            }
        }
    }
}