.l-v-bottom-spaced {
    margin-bottom: $size-md !important;
}

.l-v-bottom-spaced-lg {
    margin-bottom: $size-lg !important;
}

.l-v-bottom-spaced-xl {
    margin-bottom: $size-xl !important;
}

.l-v-right-spaced {
    margin-right: $size-md;
}

.l-v-right-spaced-sm {
    margin-right: $size-sm;
}

.l-v-right-spaced-xs {
    margin-right: $size-xs;
}

.l-v-left-spaced-xs {
    margin-left: $size-xs;
}

.v-align-middle {
    vertical-align: middle;
}

.cursor-pointer {
    cursor: pointer;
}

.deemphasized {
    opacity: .5;
}

.font-medium {
    font-size: $font-md;
}

.font-small {
    font-size: $font-sm;
}

.text-align-center {
    text-align: center;
}

.no-wrap {
    white-space: nowrap;
}