.l-v-bottom-spaced {
    margin-bottom: $size-md;
}

.cursor-pointer {
    cursor: pointer;
}

.deemphasized {
    opacity: .5;
}

.font-medium {
    font-size: $font-md;
}

.font-small {
    font-size: $font-sm;
}