<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="{% if page.hasSidebar %}has-sidebar{% endif %}">

  <head>
    {% include head.html %}
  </head>

  <body>
    {% if page.nextProjectSlug or page.previousProjectSlug %}
    <div class="stickyHeader js-sticky-header">
      <div class="stickyHeader_start">
        <a href="{{ site.baseurl }}/work/{{ page.previousProjectSlug }}.html">
          {% include svg/arrow.svg %}
          Previous project
        </a>
      </div>
      <div class="stickyHeader_end">
        <a href="{{ site.baseurl }}/work/{{ page.nextProjectSlug }}.html">
          {% include svg/arrow.svg %}
          Next project
        </a>
      </div>
    </div>
    {% endif %}
    <main>
    {% if page.showNavigation %}
      {% include navigation.html %}
    {% endif %}
    {{ content }}
    </main>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

  <script>
    document.querySelectorAll('.js-sticky-header').forEach((element) => {
      {% if page.stickyTestElementClass %}
      new StickyHeader(element, '.{{ page.stickyTestElementClass}}');
      {% else %}
      new StickyHeader(element);
      {% endif %}
    });
  </script>

</html>
