<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="{% if page.hasSidebar %}has-sidebar{% endif %}">

  <head>
    {% include head.html %}
  <link href="/assets/app.css" rel="stylesheet"></head>

  <body class="{% if page.darkHero %}dark-hero{% endif %}">
    {% if page.nextProjectSlug or page.previousProjectSlug %}
    <div class="stickyHeader js-sticky-header">
      <div class="stickyHeader_start">
        <a href="{{ site.baseurl }}/work/{{ page.previousProjectSlug }}.html">
          {% include svg/arrow.svg %}
          Previous project
        </a>
      </div>
      <div class="stickyHeader_end">
        <a href="{{ site.baseurl }}/work/{{ page.nextProjectSlug }}.html">
          {% include svg/arrow.svg %}
          Next project
        </a>
      </div>
    </div>
    {% endif %}
    <main>
    {% if page.showNavigation %}
      {% include navigation.html %}
    {% endif %}
    {{ content }}

    {% include bulb.html %}
    </main>

    {% include footer.html %}

    {% include scripts.html %}

  <script type="text/javascript" src="/assets/app.bundle.js"></script></body>

  <script>
    document.querySelectorAll('.js-sticky-header').forEach((element) => {
      {% if page.stickyTestElementClass %}
      new StickyHeader(element, '.{{ page.stickyTestElementClass}}');
      {% else %}
      new StickyHeader(element);
      {% endif %}
    });

    document.querySelectorAll('.js-bulb').forEach((element) => {
      new Bulb(element);
    });

    document.querySelectorAll('.js-swipe').forEach((element) => {
      new SwipeableImage(element);
    });
  </script>

</html>
