---
layout: default
---
<div class="home page">
  <h2 class="page_title">Selected Work</h2>
  <div class="figureGrid">
    <div class="figureGrid_item">
      <div class="image is-clickable">
        <a class="image_frame" href="/work/guidebook-schedule-redesign.html">
          <img src="/assets/images/guidebook-schedule-ongoing-picker.gif" />
        </a>
        <p>Guidebook Schedule Redesign</p>
      </div>
    </div>
    <div class="figureGrid_item">
      <div class="image is-clickable">
        <a class="image_frame" href="/work/guidebook-spaces.html">
          <img src="/assets/images/guidebook-schedule-ongoing-picker.gif" />
        </a>
        <p>Guidebook Spaces</p>
      </div>
    </div>
    <div class="figureGrid_item">
      <div class="image is-clickable">
        <a class="image_frame" href="/work/guidebook-homepage.html">
          <img src="/assets/images/guidebook-homepage-cropped.jpg" />
        </a>
        <p>Guidebook Homepage Redesign</p>
      </div>
    </div>
    <div class="figureGrid_item">
      <div class="image is-clickable">
        <a class="image_frame" href="/work/guidebook-icons.html">
          <img src="/assets/images/guidebook-beacon-icons.jpg" />
        </a>
        <p>Guidebook Icon Set</p>
      </div>
    </div>
  </div>
</div>
