---
layout: default
---
<div class="home page">
  <div class="page_intro">
    <h2 class="page_title">Selected Work</h2>
    <p class="page_description">Hi, I'm Pete Lada. I'm a co-founder of and lead product designer at Guidebook. Below are some selected projects which highlight some of the more interesting recent challenges I've worked on.</p>
  </div>
  <div class="figureGrid">
    <div class="figureGrid_item">
      <div class="image is-clickable projectCard">
        <a class="image_frame projectCard_image" href="/work/guidebook-schedule-redesign.html">
          <div class="projectCard_info">
            <p class="projectCard_title">Guidebook Schedule Redesign</p>
            <span class="projectCard_pill">Guidebook</span>
            <span class="projectCard_pill">2019</span>
          </div>
          <img src="/assets/images/guidebook-schedule-ongoing-picker.gif" />
        </a>
      </div>
    </div>
    <div class="figureGrid_item">
      <div class="image is-clickable projectCard">
        <a class="image_frame projectCard_image" href="/work/guidebook-spaces.html">
          <div class="projectCard_info">
            <p class="projectCard_title">Guidebook Spaces</p>
            <span class="projectCard_pill">Guidebook</span>
            <span class="projectCard_pill">2018</span>
          </div>
          <img src="/assets/images/guidebook-schedule-ongoing-picker.gif" />
        </a>
      </div>
    </div>
    <div class="figureGrid_item">
      <div class="image is-clickable projectCard">
        <a class="image_frame projectCard_image" href="/work/guidebook-homepage.html">
          <div class="projectCard_info">
            <p class="projectCard_title">Guidebook Homepage Redesign</p>
            <span class="projectCard_pill">Guidebook</span>
            <span class="projectCard_pill">2019</span>
          </div>
          <img src="/assets/images/guidebook-homepage-cropped.jpg" />
        </a>
      </div>
    </div>
    <div class="figureGrid_item">
      <div class="image is-clickable projectCard">
        <a class="image_frame projectCard_image" href="/work/guidebook-icons.html">
          <div class="projectCard_info">
            <p class="projectCard_title">Guidebook Icon Set</p>
            <span class="projectCard_pill">Guidebook</span>
            <span class="projectCard_pill">2017-2020</span>
          </div>
          <img src="/assets/images/guidebook-beacon-icons.jpg" />
        </a>
      </div>
    </div>
  </div>
</div>
